.scrollGradientRight {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 8rem;
  background: linear-gradient(
    to left,
    var(--fondo-primario) 0%,
    transparent 100%
  );
  z-index: 20;
}
