.modalSelectedModulo {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
  padding: 2em;
  border-radius: 15px;
  height: fit-content;
  background-color: var(--presionables-secundarios-modals-default);
}